.button {
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button1 {
    background-color: #21325E; 
    color: #F1D00A; 
    border: 2px solid #F1D00A;
  }
  
  .button1:hover {
    background-color: #F1D00A;
    color: white;
  }

  .inp{
    background-color: #F0F0F0;
    color: #21325E;
    padding: 8px 16px;
    font-size: 14px;
  }